body {
  max-width: 470px;
  margin: auto;
  overflow-x: hidden;
}

:root {
  --primary: #e1703b;
  --secondary: #35d3cf;
  --tertiary: #e4a57f33;
  --fontColor: #626161;
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.text-appGray {
  color: var(--fontColor);
}

.text-secondary {
  color: var(--secondary);
}

@font-face {
  font-family: Mulish-bold;
  src: url("../assets/fonts/Mulish-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-demi;
  src: url("../assets/fonts/Mulish-Demi.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-medium;
  src: url("../assets/fonts/Mulish-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-regular;
  src: url("../assets/fonts/Mulish-Regular.ttf");
  font-display: swap;
}

.font-bold {
  font-family: Mulish-bold !important;
}
.font-demi {
  font-family: Mulish-demi !important;
}
.font-medium {
  font-family: Mulish-medium !important;
}
.font-regular {
  font-family: Mulish-regular !important;
}

/* a {
  margin-top: 9px;
} */

.bg-summary-card {
  background: url("/images/homeCard.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bg-schemes-card {
  background: linear-gradient(
    76.3deg,
    rgba(218, 218, 218, 0.08) 43.96%,
    #e9e4e4 104.8%
  );
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

input {
  color: var(--fontColor);
}

.z-20 {
  z-index: 20;
}

.language-switcher {
  background: var(--tertiary);
  width: 17vw;  
  max-height: 45px;
  max-width: 90px;
  font-size: 0.85rem;
  font-weight: 700;
  padding: 0.25rem ;
  color: var(--fontColor);
}
.active-language {
  background: var(--primary);
  color: white;
}

.actionsheet-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.actionsheet-box {
  background-color: #fff;
  width: 90%;
  max-width: 500px;
  border-radius: 10px 10px 0 0;  
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2);
  animation-name: slide-up;
  animation-duration: 0.5s;
}

.actionsheet-slide-down {
  animation-name: slide-down;
  animation-duration: 0.5s;
}

@keyframes slide-up {
  from {
    transform: translate(0, 100%);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes slide-down {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(0, 100%);
  }
}
