body {
  max-width: 470px;
  margin: auto;
  overflow-x: hidden;
}

:root {
  --primary: #db6027;
  --secondary: #35d3cf;
  --tertiary: rgba(219, 96, 39, 0.104);
  --fontColor: #525252;
}

.bg-tertiary {
  background-color: var(--tertiary);
}

.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.text-appGray {
  color: var(--fontColor);
}

.text-secondary {
  color: var(--secondary);
}

@font-face {
  font-family: Mulish-bold;
  src: url("../assets/fonts/Mulish-Bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-demi;
  src: url("../assets/fonts/Mulish-Demi.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-medium;
  src: url("../assets/fonts/Mulish-Medium.ttf");
  font-display: swap;
}
@font-face {
  font-family: Mulish-regular;
  src: url("../assets/fonts/Mulish-Regular.ttf");
  font-display: swap;
}

.font-bold {
  font-family: Mulish-bold !important;
}
.font-demi {
  font-family: Mulish-demi !important;
}
.font-medium {
  font-family: Mulish-medium !important;
}
.font-regular {
  font-family: Mulish-regular !important;
}

/* a {
  margin-top: 9px;
} */

.bg-linear-gradient {
  background: linear-gradient(
    76.3deg,
    rgba(205, 141, 95, 0.29) 19.68%,
    rgba(227, 201, 183, 0.29) 43.96%,
    #e0bca1 104.8%
  );
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.bg-summary-card {
  background: url("/images/homeCard.png");
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bg-schemes-card {
  background: linear-gradient(
    76.3deg,
    rgba(218, 218, 218, 0.08) 43.96%,
    #e9e4e4 104.8%
  );
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

input {
  color: var(--fontColor);
}

.z-20 {
  z-index: 20;
}
